@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('assets/fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('assets/fonts/Gilroy-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('assets/fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('assets/fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('assets/fonts/Gilroy-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Balsamiq Sans';
    src: local('Balsamiq Sans Bold Italic'), local('Balsamiq-Sans-Bold-Italic'),
        url('assets/fonts/BalsamiqSans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: 'Gilroy';
    /* font-size: 2.4rem; */
    font-weight: 400;
    color: #14161B;
    margin: 0;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-size: clamp(1rem, 1.250vw, 2.4rem);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s linear;
}

a:hover {
    color: #DA1648;
}

a:focus {
    outline: none;
}

img {
    width: 100%;
}

ol,
ul {
    list-style: none;
}

/* Container */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

@media (min-width: 1024px) {
    .container {
        /* padding: 0 6rem; */
        padding: 0 clamp(2rem, 6.250vw, 12rem);;
        
    }
}

@media (min-width: 1680px) {
    .container {
        max-width: 168rem;
        /* padding: 0; */
    }
}

/*Buttons*/
.btn {
    display: inline-block;
    border-radius: 3.5rem;
    vertical-align: middle;
    transition: color .2s linear;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    width: fit-content;
    border: none;
    cursor: pointer;
    font-family: 'Gilroy';
}

.btn-outline {
    font-weight: 500;
    color: #14161B;
    border: 1px solid #14161B;
    height: 100%;
}

/* @media (min-width: 1024px) {
    .btn-outline {
        padding: 0.857em 2em;
    }
} */

/* @media (min-width: 1200px) {
    .btn-outline {
        font-size: 1.4rem;
    }
}

@media (min-width: 1400px) {
    .btn-outline {
        padding: 0.857em 5em;
    }
} */

.btn-outline:hover {
    border: 1px solid #DA1648;
}

.btn-outline-white {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 0.82em 5.59em;
    text-transform: lowercase;
    max-width: 25rem;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.235;
    transition: color .2s linear, background-color .2s linear;
}

.btn-outline-white:hover {
    color: #000;
    background-color: #FFF;
    border: 1px solid #fff;
}

.btn-header {
    display: none;
    font-size: 1.4rem;
    font-size: clamp(1rem, 0.729vw, 1.4rem);
    padding: 0.857em 5.214em;
    
}

@media (min-width: 768px) {
    .btn-header {
        display: inline-block;
        margin-top: -.4rem;       
    }
}

/* @media (min-width: 768px) {
    .btn-header {
        margin-right: 2rem;
    }
}

@media (min-width: 1400px) {
    .btn-header {
        margin-right: 4rem;
    }
}

@media (min-width: 1680px) {
    .btn-header {
        margin-right: 6rem;
    }
} */

.btn-red {
    background-color: #DA1648;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.18;
    padding: 15px 88px;
    /* max-width: 27rem;
    max-height: 5rem; */
    transition: color .2s linear, background-color .2s linear;
}

.btn-red:hover {
    background-color: #fff;
    color: #DA1648;
}

.btn-border {
    border: 1px solid #DA1648;
    padding: 14px 96px;
    padding: 0.82em 5.647em
}

.btn-border:hover {
border: 1px solid #DA1648;
}


/* Burger button */
.nav-toogle {
    font-size: 0;
    color: transparent;
    border: 0;
    background: 0;
    cursor: pointer;
    width: 28px;
    height: 34px;
    padding: 0;
    margin-top: -0.5rem;
    /* margin-left: 66px; */
    margin-left: clamp(1rem, 3.438vw, 6.6rem);
}

.nav-toogle__item {
    width: 28px;
    height: 2px;
    background: #14161B;
    display: block;
    margin: auto;
    transition: background-color .2s linear;
    position: relative;
    margin-top: -4px;
}

.nav-toogle__item:after {
    content: "";
    width: 16px;
    height: 2px;
    background: #14161B;
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    transition: background-color .2s linear;
}

.btn-block:hover {
    cursor: pointer;
}

.nav-toogle:hover .nav-toogle__item,
.nav-toogle:hover .nav-toogle__item:after {
    background-color: #DA1648;
}


/****HEADER*****/
.header {
    height: 8rem;
    display: flex;
    margin-top: 1.5rem;
    position: relative;
}



@media (min-width: 1024px) {
    .header {
        height: 13.3rem;
        display: flex;
        align-items: center;
        margin-top: auto; 
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.header__inner:before,
.header__inner:after {
    content: '';
    width: 1px;
    background: #E9E9E9;
    position: absolute;
    top: 0;
  }

  .header__inner:before {
height: 13.3rem;
left: -4.1rem;
  }

  .header__inner:after {
    height: 10.1rem;
    left: 21.1rem;
      }

.header__inner-nav,
.header__inner-info {
    width: 50%;
    display: flex;
    align-items: center;
}

@media (min-width: 1024px) {
    .header__inner-info {
        justify-content: space-between;
        width: 45%;
        margin-top: .5rem;
        height: 13.3rem;
    }
}

@media (min-width: 1680px) {
    .header__inner-info {
        width: 50%;
    }
}

.header__inner-nav {
    justify-content: flex-end;
}

@media (min-width: 1024px) {
    .header__inner-nav {
        justify-content: flex-end;
        width: 60%;
        margin-top: .3rem;
    }
}

/* @media (min-width: 1200px) {
    .header__inner-nav {
        justify-content: flex-end;
        width: 55%;
    }
}

@media (min-width: 1680px) {
    .header__inner-nav {
        width: 50%;
    }
} */

.logo {
    font-size: 3rem;  
    font-weight: 700;
    text-transform: lowercase;
    line-height: 1.5;
    margin-top: -0.1rem;
}

@media (min-width: 1024px) {
    .logo {
        font-size: clamp(1rem, 1.875vw, 3.6rem);
    }
}

/* @media (min-width: 1200px) {
    .logo {
        font-size: 3.6rem;
    }
} */

.announce {
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: 0.5px;
    top: 5rem;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .announce {
        position: static;
        text-align: left;
        margin-left: 2rem;
    }
}

@media (min-width: 1024px) {
    .announce {
        /* font-size: 1.1rem; */
        font-size: clamp(1rem, 0.781vw, 1.5rem);
        /* margin-left: 9.1rem; */
        margin-left: clamp(4rem, 4.740vw, 9.1rem);
    }
}

.nav {
    display: none;
}

@media (min-width: 1024px) {
    .nav {
        display: flex;
        /* font-size: 0.781vw; */
        font-size: clamp(1rem, 0.781vw, 1.5rem);
        font-weight: 600;
        line-height: 1.5;
        text-transform: lowercase;
        
        /* margin: 0 3rem; */

        margin: 0 clamp(1rem, 1.563vw, 3rem);
    }
}

/* @media (min-width: 1200px) {
    .nav {
        font-size: 1.5rem;
        margin-right: 1rem;
    }
} */

/* @media (min-width: 1680px) {
    .nav {
        margin: 0 3rem;
    }
} */

.nav__link {
    margin: 0 2rem;
}

@media (min-width: 1024px) {
    .nav__link {
        margin: 0 clamp(1rem, 1.563vw, 3rem);
    }
}

/* Offcanvas menu */
.menu-open,
.menu-close {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;

}

.menu-open:active,
.menu-close:active {
    color: #14161B;
}

.top-nav .menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25rem;
    padding: 2rem;
    transform: translateX(45rem);
    transition: transform .7s;
    background: #f3f3f3;
    z-index: 1;
}

@media (min-width: 1024px) {
    .top-nav .menu-wrapper {
        width: 30rem;
        transform: translateX(55rem);
        padding: 3.5rem;
    }
}

.top-nav .menu-wrapper.is-opened {
    transform: translateX(0rem);
}

.top-nav .menu-wrapper .menu {
    opacity: 0;
    transition: opacity .4s;
}

.top-nav .menu-wrapper.is-opened .menu {
    opacity: 1;
    transition-delay: .6s;
}

.top-nav .menu-wrapper .menu a {
    font-size: 1.5rem;
}

.top-nav .menu-wrapper .sub-menu {
    padding: 1rem 0 0 0.7rem;
}

.top-nav .menu-wrapper .menu-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
}

.top-nav .menu-wrapper .menu-close:hover {
    color: #DA1648;
}

.nav-mob {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.nav-mob__link {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.btn-mob {
    margin-top: 3rem;
    font-size: 1.4rem;
    padding: 0.857em 5.214em;
    text-align: center;
}


/* SECTION DEV */
.dev-banner {
    position: relative;
    max-height: 60rem;
}

.dev-banner__text h1 {
    color: #fff;
    /* font-size: 13vw; */
    font-size: clamp(2rem, 13vw, 25rem);
    font-weight: 700;
    line-height: 0.745;
    text-transform: lowercase;
    position: absolute;
    top: 8.3rem;
    left: -1.72vw;
}

.dev-banner__text h1 span{
margin-left: 3.333vw;
}

.details {
display: flex;
}

.dev-description,
.dev-brands {
    width: 50%;
    /* margin: 0 -2rem; */
}

.info-wrapper {
background: #14161B;
max-width: 75rem;
margin-left: auto;
margin-top: -8rem;
    z-index: 1;
    position: relative;
}

.desc-info {
    color: #fff;
    line-height: 1.6;
    padding: 7.3rem 7.2rem 7.7rem 8rem;
    position: relative;
}

.desc-info p {
    margin-bottom: 3.7rem;
    z-index: 1;
    position: relative;
}

.desc-info__icon {
    position: absolute;
    right: 6.5rem;
    top: 5.7rem;
    z-index: 0;
    height: 12.4rem;
    width: 12.4rem;
}

.dev-brands {
    display: flex;
    flex-wrap: wrap;
    padding-left: 6.9rem;
    position: relative;
}

.dev-brands:before,
.dev-brands:after {
    content: '';
    height: 1px;
    background: #E9E9E9;
    position: absolute; 
}

.dev-brands:before {
    width: 100%;
    top: 14.3rem;
    left: 0; 
}

.dev-brands:after {
    width: 72%;
    bottom: 0;
    left: 0;
}

.brand-item {
flex-basis: 33.33333%;
display: flex;
justify-content: center;
align-items: center;
}

.icon-wp {
max-width: 19rem;
}

.icon-woo {
    max-width: 18.2rem;
    /* margin-left: 8.4rem;
    margin-top: 0.5rem; */
}

.icon-html {
    max-width: 3.8rem;
}

.icon-seo {
max-width: 15.4rem;
}

.icon-speed {
    max-width: 16.7rem;
}

.icon-figma {
    max-width: 12.2rem;
}

/* CASE */
.case {
    padding-top: 7.6rem;
}
.studies {
    background: #14161B;
    display: flex;
    align-items: center;
}

.studies-info {
    display: flex;
    align-items: center;
    height: 34rem;
}

.studies-info__title {
    width: 41.666%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.studies-info__title:before,
.studies-info__title:after {
    content: '';
    width: 1px;
    background: #303030;
    position: absolute;
    top: 0;
  }

  .studies-info__title:before {
height: 258px;
right: 0;
  }

  .studies-info__title:after {
    height: 119px;
    right: -155px;
      }


.studies-info__title h2 {
    font-size: 9.6rem;
    font-weight: 700;
    color: #fff;
    margin-top:0.5rem;
    line-height: 1;
}

.studies-info__title span {
    font-size: 1.6rem;
    color: #DA1648;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: 7.7rem;
    left: 0;
}

.studies-info__subtitle {
    font-size: 2.4rem;
    color:#8D8D8D;
    line-height: 1.8;

}

.studies-info__subtitle {
    margin-left: 10rem;
    margin-top: 0.8rem;
}

.studies-info-btn {
    margin-left: auto;
    margin-right: 2.5rem;
}

/* Slider start */

.slider {
    position: relative;
}

.slider_wrapper {
display: flex;
}

.slider_thumbnails {
    width: 41.666%;
    background: #F6F6F6;
    padding-top: 27.7rem;
}

.slider_thumbnails:before {
content: '';
width: 41.666%;
height: 100%;
background: #F6F6F6;
position: absolute;
top: 0;
left: 0;
}

.thumbnails-row {
position: relative;
height: 100%;
}

.slider_info {
    width: calc(100% - 41.666%);
}


/****** Slider elements *****/
.slider-info__items::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide the slides by default */
  .slides {
    display: none;
  }
    
  /* Smartphones (portrait and landscape) ----------- */
  /* @media only screen and (max-width: 600px) {
    .prevContainer,
    .nextContainer {
      display: none;
      visibility: hidden;
    }
  } */

  .slider-arrows {
      display: flex;
      justify-content: flex-end;
      margin-right: 16.2rem;
      padding-top: 4.7rem;
  }
  
  .prevContainer,
  .nextContainer {
    background-color: #FFF;
    height: 6.4rem;
    width: 6.4rem;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .prevContainer:hover,
  .nextContainer:hover {
    border: 1px solid #737373;
  }

  

  .prevContainer {
    margin-right: 2rem;
  }
  
  .prev,
  .next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .prev svg,
  .next svg {
    fill: #000;
    height: 2.9rem;
    width: 1.7rem;
    transition: fill .1s linear;
  }

  .prevContainer:hover .prev svg,
  .nextContainer:hover .next svg{
    fill: #737373;
  }
  
  /* .nextContainer {
    right: 16.2rem;
  } */
  
  
  /* Thumbnail content */
  .slide-thumbnail {
    color: #747474;
    cursor: pointer;
    line-height: 1.5;
    display: flex;
    transition: color .1s linear;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 4.6rem;
    position: relative;
  }
  
  .slide-thumbnail:last-child {
      margin-bottom: 0;
  }
  
  .slide-thumbnail:hover {
    color: #14161B;
    
  }

  .slide-thumbnail.active {
    font-weight: 600;
    color: #14161B;
    
  }

  .slide-thumbnail:before,
  .slide-thumbnail:after {
    content: '';
    height: 1px;
    background: #D9D9D9;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    height: 1px;
    opacity: 0;
    transition: opasity .1s linear;
  }

  .slide-thumbnail:before {
    width: 292px;
    left: -124px;
  }

  .slide-thumbnail:after {
      width: 123px;
      right: 0;
  }

  .slide-thumbnail.active:before,
  .slide-thumbnail.active:after {
      opacity: 1;
  }

  .slider-content {
      padding:11.1rem 0 7.9rem 10rem;
      position: relative;
  }

  .slider-content:before,
  .slider-content:after {
    content: '';
    width: 1px;
    background: #D9D9D9;
    position: absolute;
    top: 0;
  }

  .slider-content:before {
    height: 13rem;
    right: 135px;
    
  }

  .slider-content:after {
    height: 20.6rem;
    right: -60px;
    
  }

  .slide-num {
      font-size: 1.8rem;
      width: calc(40% + 0.6rem);
      padding-left: 8.2rem;
  }

  .sl-date {
    font-size: 1.6rem;
    color: #14161B;
    font-weight: 700;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.2rem;
  }
  .sl-year {
font-weight: 400;
color: #737373;
line-height: 1.5;
letter-spacing: -0.01rem;
  }

  h3.sl-title {
      font-size: 4.4rem;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: -0.01rem;
      margin-bottom: 2.3rem;
  }

  p.sl-subtitle {
      font-size: 2rem;
      line-height: 1.5;
letter-spacing: -0.01rem;
margin-bottom: 5.3rem;
  }

  .sl-image {
      margin-bottom: 6.4rem;
  }

  .sl-cat {
font-size: 1.6rem;
line-height: 1.5;
color: #737373;
margin-top: 6.1rem;
  }

  .sl-tag {
color: #14161B;
font-weight: 600;
  }