@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('assets/fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('assets/fonts/Gilroy-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('assets/fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('assets/fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('assets/fonts/Gilroy-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Balsamiq Sans';
    src: local('Balsamiq Sans Bold Italic'), local('Balsamiq-Sans-Bold-Italic'),
        url('assets/fonts/BalsamiqSans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: 'Gilroy';
    font-weight: 400;
    color: #14161B;
    margin: 0;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-size: clamp(1rem, 1.250vw, 2.4rem);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s linear;
}

a:hover {
    color: #DA1648;
}

a:focus {
    outline: none;
}

img {
    width: 100%;
}

ol,
ul {
    list-style: none;
}

/* Container */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

@media (min-width: 768px) {
    .container {
        padding: 0 clamp(2rem, 6.250vw, 11.1rem);
    }
}

@media (min-width: 1680px) {
    .container {
        max-width: 192rem;
    }
}

/*Buttons*/
.btn {
    display: inline-block;
    border-radius: 3.5rem;
    vertical-align: middle;
    transition: color .2s linear;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    cursor: pointer;
    font-family: 'Gilroy';
}

.btn-outline {
    font-weight: 500;
    color: #14161B;
    border: 1px solid #14161B;
    height: 100%;
}

.btn-outline:hover {
    border: 1px solid #DA1648;
}

.btn-outline-white {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 0.82em 5.59em;
    text-transform: lowercase;
    max-width: 25rem;
    font-size: clamp(1rem, 0.885vw, 1.7rem);
    font-weight: 500;
    line-height: 1.235;
    transition: color .2s linear, background-color .2s linear;
}

.btn-outline-white:hover {
    color: #000;
    background-color: #FFF;
    border: 1px solid #fff;
}

.btn-header {
    display: none;
    font-size: 1.4rem;
    font-size: clamp(1rem, 0.729vw, 1.4rem);
    padding: 0.857em 5.214em;

}

@media (min-width: 768px) {
    .btn-header {
        display: inline-block;
        margin-top: -.4rem;
    }
}

.btn-red {
    background-color: #DA1648;
    color: #fff;
    font-size: clamp(1rem, 0.885vw, 1.7rem);
    font-weight: 500;
    line-height: 1.18;
    padding: 15px 88px;
    padding: 0.88em 5.176em;
    transition: color .2s linear, background-color .2s linear;
}

.btn-red:hover {
    background-color: #fff;
    color: #DA1648;
}

.btn-border {
    border: 1px solid #DA1648;
    padding: 14px 96px;
    padding: 0.82em 5.647em
}

.btn-border:hover {
    border: 1px solid #DA1648;
}


/* Burger button */
.nav-toogle {
    font-size: 0;
    color: transparent;
    border: 0;
    background: 0;
    cursor: pointer;
    width: 28px;
    height: 34px;
    padding: 0;
    margin-top: -0.5rem;
    margin-left: clamp(1rem, 3.438vw, 6.6rem);
}

.nav-toogle__item {
    width: 28px;
    height: 2px;
    background: #14161B;
    display: block;
    margin: auto;
    transition: background-color .2s linear;
    position: relative;
    margin-top: -4px;
}

.nav-toogle__item:after {
    content: "";
    width: 16px;
    height: 2px;
    background: #14161B;
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    transition: background-color .2s linear;
}

.btn-block:hover {
    cursor: pointer;
}

.nav-toogle:hover .nav-toogle__item,
.nav-toogle:hover .nav-toogle__item:after {
    background-color: #DA1648;
}


/****HEADER*****/
.header {
    height: 8rem;
    display: flex;
    margin-top: 1.5rem;
    position: relative;
}

@media (min-width: 768px) {
    .header {
        height: 6rem;
    }
}

@media (min-width: 1024px) {
    .header {
        height: 13.3rem;
        display: flex;
        align-items: center;
        margin-top: auto;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.header__inner:before,
.header__inner:after {
    content: '';
    width: 1px;
    background: #E9E9E9;
    position: absolute;
    top: 0;
    display: none;
}

@media (min-width: 1024px) {

    .header__inner:before,
    .header__inner:after {
        display: block;
    }
}

.header__inner:before {
    height: 13.3rem;
    left: -4.1rem;
}

.header__inner:after {
    height: 10.1rem;
    left: clamp(1rem, 10.99vw, 21.1rem);
}

.header__inner-nav,
.header__inner-info {
    width: 50%;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .header__inner-info {
        width: 65%;
    }
}

@media (min-width: 1024px) {
    .header__inner-info {
        justify-content: space-between;
        width: 45%;
        margin-top: .5rem;
        height: 13.3rem;
    }
}

@media (min-width: 1680px) {
    .header__inner-info {
        width: 50%;
    }
}

.header__inner-nav {
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .header__inner-nav {
        width: 35%;
    }
}

@media (min-width: 1024px) {
    .header__inner-nav {
        justify-content: flex-end;
        width: 60%;
        margin-top: .3rem;
    }
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    text-transform: lowercase;
    line-height: 1.5;
    margin-top: -0.1rem;
}

@media (min-width: 768px) {
    .logo {
        margin-top: -0.6rem;
    }
}

@media (min-width: 1024px) {
    .logo {
        margin-top: -0.1rem;
        font-size: clamp(1rem, 1.875vw, 3.6rem);
    }
}

.announce {
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: 0.5px;
    top: 4.5rem;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .announce {
        font-size: 1.1rem;
        position: static;
        text-align: left;
        margin-left: 2rem;
    }
}

@media (min-width: 1024px) {
    .announce {
        font-size: clamp(0.9rem, 0.781vw, 1.5rem);
        margin-left: 6.066em;
    }
}

.nav {
    display: none;
}

@media (min-width: 1024px) {
    .nav {
        display: flex;
        font-size: clamp(1rem, 0.781vw, 1.5rem);
        font-weight: 600;
        line-height: 1.5;
        text-transform: lowercase;
        margin: 0 1em;
    }
}

@media (min-width: 1200px) {
    .nav {
        font-size: clamp(1.3rem, 0.781vw, 1.5rem);
    }
}

@media (min-width: 1400px) {
    .nav {
        margin: 0 2em;
    }
}

.nav__link {
    margin: 0 2rem;
}

@media (min-width: 1024px) {
    .nav__link {
        margin: 0 1em;
    }
}

@media (min-width: 1400px) {
    .nav__link {
        margin: 0 2em;
    }
}

/* Offcanvas menu */
.menu-open,
.menu-close {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;

}

.menu-open:active,
.menu-close:active {
    color: #14161B;
}

.top-nav .menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25rem;
    padding: 2rem;
    transform: translateX(45rem);
    transition: transform .7s;
    background: #f3f3f3;
    z-index: 999;
}

@media (min-width: 1024px) {
    .top-nav .menu-wrapper {
        width: 30rem;
        transform: translateX(55rem);
        padding: 3.5rem;
    }
}

.top-nav .menu-wrapper.is-opened {
    transform: translateX(0rem);
}

.top-nav .menu-wrapper .menu {
    opacity: 0;
    transition: opacity .4s;
}

.top-nav .menu-wrapper.is-opened .menu {
    opacity: 1;
    transition-delay: .6s;
}

.top-nav .menu-wrapper .menu a {
    font-size: 1.5rem;
}

.top-nav .menu-wrapper .sub-menu {
    padding: 1rem 0 0 0.7rem;
}

.top-nav .menu-wrapper .menu-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
}

.top-nav .menu-wrapper .menu-close:hover {
    color: #DA1648;
}

.nav-mob {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.nav-mob__link {
    margin-bottom: 1rem;
    font-size: clamp(1.5rem, 1.042vw, 2rem);
}

.btn-mob {
    margin-top: 3rem;
    font-size: 1.4rem;
    font-size: clamp(1rem, 0.729vw, 1.4rem);
    padding: 0.857em 5.214em;
    text-align: center;
}


/* SECTION DEV */
.dev-banner {
    position: relative;
    max-height: 60rem;
}

.dev-banner__text h1 {
    color: #fff;
    font-size: clamp(2rem, 13vw, 25rem);
    font-weight: 700;
    line-height: 0.745;
    text-transform: lowercase;
    position: absolute;
    top: 13.9%;
    left: -0.132em;
}

.dev-banner__text h1 span {
    margin-left: 0.26em;
}

.details {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .details {
        flex-direction: row;
    }
}

.dev-description,
.dev-brands {
    width: 100%;
}

@media (min-width: 768px) {

    .dev-description,
    .dev-brands {
        width: 50%;
    }
}

.info-wrapper {
    background: #14161B;

    position: relative;
}

@media (min-width: 768px) {
    .info-wrapper {
        max-width: clamp(1rem, 39.063vw, 75rem);
        margin-left: auto;
        margin-top: -9.5%;
        z-index: 1;
    }
}

.desc-info {
    color: #fff;
    line-height: 1.6;
    padding: 9.73% 9.6% 10.26% 10.66%;
    position: relative;
}

.desc-info p {
    z-index: 1;
    position: relative;
    margin-bottom: 1.542em;
}

.desc-info__icon {
    position: absolute;
    right: 2.708em;
    top: 2.375em;
    z-index: 0;
    height: 5.166em;
    width: 5.166em;
}

.dev-brands {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

@media (min-width: 768px) {
    .dev-brands {
        padding-left: 4%;
    }
}

.dev-brands:before,
.dev-brands:after {
    content: '';
    height: 1px;
    background: #E9E9E9;
    position: absolute;
}

.dev-brands:before {
    width: 100%;
    top: 49.1%;
    left: 0;
}

.dev-brands:after {
    width: 72%;
    bottom: 0;
    left: 0;
}

.brand-item {
    flex-basis: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

@media (max-width: 767px) {
    .brand-item {
        height: 5.4rem;
    }

    .dev-description {
        order: 1;
    }

    .dev-brands {
        order: 0;
    }
}

@media (min-width: 768px) {

    .icon-wp,
    .icon-woo,
    .icon-html,
    .icon-seo,
    .icon-speed,
    .icon-figma {
        position: absolute;
    }
}

.icon-wp {
    top: 37.5%;
    left: 13.5%;
    width: 7.92em;
    max-width: 19rem;
}

.icon-woo {
    top: 43%;
    left: 31.1%;
    width: 7.583em;
    max-width: 18.2rem;
}

.icon-html {
    top: 30%;
    left: 49%;
    width: 1.583em;
    max-width: 3.8rem;
}

.icon-seo {
    top: 30%;
    left: 20%;
    width: 6.42em;
    max-width: 15.4rem;
}

.icon-speed {
    top: 34%;
    left: 31.1%;
    width: 6.96em;
    max-width: 16.7rem;

}

.icon-figma {
    top: 32%;
    left: 30%;
    width: 5.08em;
    max-width: 12.2rem;
}

/* CASE */
.case {
    padding-top: 10%;
}

@media (min-width: 768px) {
    .case {
        padding-top: 4%;
    }
}

.studies {
    background: #14161B;
    display: flex;
    align-items: center;
}

.studies-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .studies-info {
        flex-direction: row;
    }
}

.studies-info__title {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .studies-info__title {
        width: 41.666%;
    }
}

.studies-info__title:before,
.studies-info__title:after {
    content: '';
    width: 1px;
    background: #303030;
    position: absolute;
    top: 0;
    display: none;
}

@media (min-width: 768px) {

    .studies-info__title:before,
    .studies-info__title:after {
        display: block;
    }
}

.studies-info__title:before {
    height: 76%;
    right: 0;
}

.studies-info__title:after {
    height: 35%;
    right: -22.14%;
}


.studies-info__title h2 {
    font-size: clamp(3rem, 5vw, 9.6rem);
    font-weight: 700;
    color: #fff;
    margin-top: 0.052em;
    line-height: 1;
    padding-top: 1.25em;
    padding-bottom: 0.5em;
}

@media (min-width: 768px) {
    .studies-info__title h2 {
        padding: 1.25em 0;
    }
}

.studies-info__title span {
    font-size: clamp(1rem, 0.833vw, 1.6rem);
    color: #DA1648;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: 22.5%;
    left: 0;
}

.studies-info__subtitle {
    font-size: clamp(1.5rem, 1.250vw, 2.4rem);
    color: #8D8D8D;
    line-height: 1.8;

}

@media (min-width: 768px) {
    .studies-info__subtitle {
        margin-left: 5.92%;
        margin-top: 0.5%;
    }
}

.studies-info-btn {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
    .studies-info-btn {
        margin-left: auto;
        margin-right: 1.6%;
        padding: 0;
    }
}

/* Slider start */

.slider {
    position: relative;
}

.slider_wrapper {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .slider_wrapper {
        flex-direction: row;
    }
}

.slider_thumbnails {
    background: #F6F6F6;
    padding-top: 4.542em;
    padding-bottom: 4.542em;
}

@media (min-width: 768px) {
    .slider_thumbnails {
        padding-top: 11.542em;
        padding-bottom: 0;
        width: 41.666%;
    }
}

@media (min-width: 768px) {
    .slider_thumbnails:before {
        content: '';
        width: 41.666%;
        height: 100%;
        background: #F6F6F6;
        position: absolute;
        top: 0;
        left: 0;
    }
}



.thumbnails-row {
    position: relative;
    height: 100%;
}

@media (min-width: 768px) {
    .slider_info {
        width: calc(100% - 41.666%);
    }
}


/****** Slider elements *****/
.slider-info__items::-webkit-scrollbar {
    display: none;
}

/* Hide the slides by default */
.slides {
    display: none;
}

.fs {
    display: flex;
}

.slider-arrows {
    display: flex;
    justify-content: center;

}

@media (min-width: 768px) {
    .slider-arrows {
        justify-content: flex-end;
        margin-right: 6.75em;
        padding-top: 1.958em;
    }
}

.prevContainer,
.nextContainer {
    background-color: #FFF;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.67em;
    width: 2.67em;
}

.prevContainer:hover,
.nextContainer:hover {
    border: 1px solid #737373;
}

.prevContainer,
.nextContainer {
    margin: 0 1.5em;
}

@media (min-width: 768px) {
    .prevContainer {
        margin-right: 0.834em;
        margin-left: 0;
    }

    .nextContainer {
        margin: 0;
    }
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.prev svg,
.next svg {
    fill: #000;
    height: 1.208em;
    width: 0.708em;
    transition: fill .1s linear;
}

.prevContainer:hover .prev svg,
.nextContainer:hover .next svg {
    fill: #737373;
}

/* Thumbnail content */
.slide-thumbnail {
    font-size: clamp(1.5rem, 1.250vw, 2.4rem);
    color: #747474;
    cursor: pointer;
    line-height: 1.5;
    display: flex;
    transition: color .1s linear;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0.916em;
    position: relative;
}

@media (min-width: 768px) {
    .slide-thumbnail {
        margin-bottom: 1.916em;
    }
}

.slide-thumbnail:last-child {
    margin-bottom: 0;
}

.slide-thumbnail:hover {
    color: #14161B;

}

.slide-thumbnail.active {
    font-weight: 600;
    color: #14161B;

}

.slider-content {
    padding: 4% 0;
    position: relative;
}

@media (min-width: 768px) {
    .slider-content {
        padding: 4.625em 0 3.292em 4.167em;
    }

    .slider-content:before,
    .slider-content:after {
        content: '';
        width: 1px;
        background: #D9D9D9;
        position: absolute;
        top: 0;
    }

    .slider-content:before {
        height: 12%;
        right: 13.8%;

    }

    .slider-content:after {
        height: 19%;
        right: -6%;
    }
}



.slide-num {
    font-size: clamp(1.3rem, 0.938vw, 1.8rem);
    width: 50%;
    padding-left: 2.556em;
}

@media (min-width: 768px) {
    .slide-num {
        width: 41%;
        padding-left: 4.556em;
    }
}

.sl-date {
    font-size: clamp(1rem, 0.833vw, 1.6rem);
    color: #14161B;
    font-weight: 700;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.375em;
}

.sl-year {
    font-weight: 400;
    color: #737373;
    line-height: 1.5;
    letter-spacing: -0.01rem;
}

h3.sl-title {
    font-size: clamp(2.0rem, 2.292vw, 4.4rem);

    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.01rem;
    margin-bottom: 0.523em;
}

p.sl-subtitle {
    font-size: clamp(1.3rem, 1.042vw, 2rem);
    line-height: 1.5;
    letter-spacing: -0.01rem;
    margin-bottom: 2.65em;
}

.sl-image {
    margin-bottom: 2.66em;
}

.sl-cat {
    font-size: clamp(1rem, 0.833vw, 1.6rem);
    line-height: 1.5;
    color: #737373;
    margin-top: 1.8125em;
}

@media (min-width: 360px) {
    .sl-cat {
        position: absolute;
        right: 0;
        bottom: 5%;
    }
}

@media (min-width: 768px) {
    .sl-cat {
        position: static;
        margin-top: 3.8125em;
    }
}

.sl-tag {
    color: #14161B;
    font-weight: 600;
}